:root{

    --bg:#0F172A;

    --sidebar:#1E293B;

    --card:#1E293B;

    --header:#111827;

    --primary:#06B6D4;

    --primary-hover:#0891B2;

    --success:#22C55E;

    --warning:#F59E0B;

    --danger:#EF4444;

    --text:#F8FAFC;

    --text-secondary:#94A3B8;

    --border:#334155;

    --radius:14px;

    --shadow:0 8px 25px rgba(0,0,0,.30);

}