:root{

    --bg:#0F172A;
    --sidebar:#111827;
    --header:#111827;
    --card:#1E293B;
    --border:#334155;
    --primary:#38BDF8;
    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;
    --text:#F8FAFC;
    --text-secondary:#94A3B8;
    --radius:14px;
    --shadow:
    0 15px 35px rgba(0,0,0,.25);
    --transition:.30s;

}